@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to My Online CV!</h1>
    <p class="lead">Hi, I'm Arokoyo Oladimeji David, a back end developer. This page highlights my skills, experience, and background.</p>
    <hr class="my-4">
    <p>Feel free to explore my CV or contact me.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Contact", "CV")" role="button">Contact Me</a>
</div>

<h2>About Me</h2>
<p>I am an experienced software developer with expertise in back end development.</p>

<h2>Skills</h2>
<ul class="list-group">
    <li class="list-group-item">C#</li>
    <li class="list-group-item">PHP</li>
    <li class="list-group-item">MySQL</li>
    <li class="list-group-item">SQLite</li>
</ul>
